In [1]:
import snowflake.snowpark.functions as F
from snowflake.snowpark.session import Session
from snowflake.snowpark.types import StructType, StructField, FloatType
from snowflake.snowpark import Session
import os
import json

In [2]:
connection_parameters = {
    "account": os.getenv("SNOWFLAKE_ACCOUNT"),
    "user": os.getenv("SNOWFLAKE_USER"),
    "password": os.getenv("SNOWFLAKE_PASSWORD"),
    "schema": "SENSOR",
    "database": "THINGSBOARD",
    "role": os.getenv("SNOWFLAKE_ROLE"),
    "warehouse": os.getenv("SNOWFLAKE_WAREHOUSE"),
}

session = Session.builder.configs(connection_parameters).create()

In [3]:
environmental_df = session.table("ENVIRONMENTAL")

In [4]:
environmental_df.show(5)

-------------------------------------------------------------------------------------------
|"TS"                 |"CO"  |"HUMIDITY"  |"LIGHT"  |"LPG"  |"MOTION"  |"SMOKE"  |"TEMP"  |
-------------------------------------------------------------------------------------------
|2024-01-02 12:30:00  |5.0   |51.1        |False    |7.7    |False     |20.6     |22.7    |
|2024-01-02 12:20:00  |2.7   |75.6        |False    |5.0    |False     |12.9     |19.8    |
|2024-01-02 12:10:00  |5.0   |51.1        |False    |7.7    |False     |20.5     |22.6    |
|2024-01-02 12:00:00  |2.8   |75.8        |False    |5.1    |False     |13.1     |19.8    |
|2024-01-02 11:50:00  |5.0   |51.1        |False    |7.7    |False     |20.5     |22.7    |
-------------------------------------------------------------------------------------------

In [5]:
pandas_df =environmental_df.toPandas()

In [6]:
pandas_df.head()

                   TS   CO  HUMIDITY  LIGHT  LPG  MOTION  SMOKE  TEMP
0 2024-01-02 12:30:00  5.0      51.1  False  7.7   False   20.6  22.7
1 2024-01-02 12:20:00  2.7      75.6  False  5.0   False   12.9  19.8
2 2024-01-02 12:10:00  5.0      51.1  False  7.7   False   20.5  22.6
3 2024-01-02 12:00:00  2.8      75.8  False  5.1   False   13.1  19.8
4 2024-01-02 11:50:00  5.0      51.1  False  7.7   False   20.5  22.7